*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body{
    margin:0;
    background:#f4f1ea;
    color:#333;
}


header{
    background:#3b4a3f;
    color:white;
    text-align:center;
    padding:30px;
}


main{
    width:90%;
    max-width:900px;
    margin:30px auto;
}


.card{

    background:white;
    padding:25px;
    margin-bottom:20px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);

}


h2{
    color:#3b4a3f;
}


input{

    width:100%;
    padding:12px;
    margin:8px 0;
    border:1px solid #ccc;
    border-radius:6px;

}


button{

    background:#3b4a3f;
    color:white;
    border:none;
    padding:12px 18px;
    margin:5px;
    border-radius:6px;
    cursor:pointer;

}


button:hover{

    background:#526858;

}


.book{

    background:#eee8dc;
    padding:15px;
    margin-top:10px;
    border-radius:8px;

}